@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

.fs_4xl {
  font-size: var(--fs_4xl);
}

.fs_3xl {
  font-size: var(--fs_3xl);
}

.fs_2xl {
  font-size: var(--fs_2xl);
}

.fs_xl {
  font-size: var(--fs_xl);
}

.fs_md {
  font-size: var(--fs_md);
}

.fs_lg {
  font-size: var(--fs_lg);
}

.fs_lght {
  font-size: var(--fs_lght);
}

.fs_sm {
  font-size: var(--fs_sm);
}

.fs_xsm {
  font-size: var(--fs_xsm);
}

.fs_xxsm {
  font-size: var(--fs_xxsm);
}

* {
  padding: 0;
  margin: 0;
  list-style: none !important;
  box-sizing: border-box !important;
  text-decoration: none !important;
}

.coustam_container {
  max-width: 1440px !important;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
}

.main_heading {
  color: red;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0 !important;
}

ol,
ul {
  padding-left: 0 !important;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0 !important;
}

p {
  margin-top: 0;
  margin-bottom: 0 !important;
}

.font_roboto {
  font-family: "Roboto";
}

@font-face {
  font-family: "Greycliff_CF";
  src: url("../fonts/Greycliff_CF/Greycliffcf-heavy.otf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Greycliff_CF";
  src: url("../fonts/Greycliff_CF/Greycliffcf-extrabold.otf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Greycliff_CF";
  src: url("../fonts/Greycliff_CF/Greycliffcf-Bold.otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Greycliff_CF";
  src: url("../fonts/Greycliff_CF/Greycliffcf-demibold.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Greycliff_CF";
  src: url("../fonts/Greycliff_CF/GreycliffCF-Medium.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Greycliff_CF";
  src: url("../fonts/Greycliff_CF/Greycliffcf-regular.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Greycliff_CF";
  src: url("../fonts/Greycliff_CF/Greycliffcf-light.otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Greycliff_CF";
  src: url("../fonts/Greycliff_CF/Greycliffcf-thin.otf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Greycliff_CF";
  src: url("../fonts/Greycliff_CF/Greycliffcf-extralight.otf");
  font-weight: 100;
  font-style: normal;
}
.fs_16{
  font-size: 14px !important;
}
/**********************Scroll**************************/
::-webkit-scrollbar {
  width: 6px;
}

/* ::-webkit-scrollbar:focus  */
::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #fe6a5b;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fe6a5b;
}

.min_h_100 {
  min-height: 100%;
}

.nav_links {
  font-weight: 700;
  line-height: 150% !important;
  color: #ffffff;
  opacity: 0.5;
}

.nav_links:hover {
  opacity: 1;
}
.nav_line {
  position: relative !important;
  transition: all 350ms linear !important;
}

.nav_line::after {
  content: "" !important;
  position: absolute !important;
  width: 0;
  height: 1px;
  background-color: #fe6a5b !important;
  left: -40px;
  top: 50%;
  transition: all 350ms linear !important;
}

.nav_line:hover::after {
  width: 30px !important;
}
.nav_links_padding {
  padding: 9px 0px;
}
.logo_w_180 {
  width: 48px !important;
}
.line {
  background-color: #fff;
  height: 2px;
  width: 20px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.w_100{
  width: 97.5% !important;
}

@media (max-width: 991px) {
  .mobile_view {
    position: absolute;
    background-color: #fe6a5b;
    /* backdrop-filter: blur(50px); */
    height: 100vh;
    width: 100%;
    top: 0;
    left: -100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 300ms linear;
    z-index: 5;
}
.z_7{
  z-index: 7  ;
}

.overflow_hidden {
    overflow: hidden;
}
  .menu span:nth-child(1) {
    height: 4px;
    width: 35px;
    background-color: white;
    display: block;
}

.menu span:nth-child(2) {
    height: 4px;
    width: 35px;
    background-color: white;
    display: block;
}

.menu span:nth-child(3) {
    height: 4px;
    width: 35px;
    background-color: white;
    display: block;
}

.menu span {
    transition: 300ms linear;
}

.cross span:nth-child(1) {
    transform: rotate(47deg) translateY(16px);
    transition: 300ms linear;
}

.cross span:nth-child(2) {
    transform: translateX(-100%);
    opacity: 0;
    transition: 30ms linear;
}

.cross span:nth-child(3) {
    transform: rotate(-42deg) translateY(-17px);
    transition: 300ms linear;
}
}
.real_estate {
  font-weight: 700;
  letter-spacing: 0.3em !important;
  opacity: 0.8 !important;
}

.adovcate_text {
  font-weight: 800;
  letter-spacing: -0.05em;
  line-height: 112%;
}

.text_orange {
  color: #fe6a5b !important;
}

.mt_30 {
  margin-top: 15px;
}

.header_bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 260px;
}
.headers_bg {
  position: absolute;
  top: 0;
  right: 0;
}
.characts_img {
  width: 100%;
  max-width: 330px;
}

.characters_img {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 570px;
  width: 100%;
}

.border-grey-left {
  border: 1px solid #262626;
  border-top: none;
  border-bottom: none;
  border-right: none;
}
.scroll_down {
  width: 10%;
}
/* -------------------------------sectwo------------------ */
.advise {
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.05em;
}

.color_peach {
  color: #fe6a5b;
}
.Anything {
  font-weight: 700;
  line-height: 100%;
}
.para_clr {
  opacity: 0.7;
  font-weight: 600;
  line-height: 100%;
}
.fw_600 {
  font-weight: 400;
  line-height: 100%;
}
.chng_clr_hover {
  transition: all 350ms linear;
}
.chng_clr_hover:hover {
  color: #e84a5f !important;
}
.fw_400 {
  font-weight: 400;
  line-height: 160%;
}
.margin_negative {
  margin-top: -6vh !important;
}
.form_contact {
  display: block;
  width: 100% !important;
  padding: 10px !important;
  border: 1px solid #fff !important;
  border-radius: 8px !important;
  background-color: transparent !important;
  color: #fff !important;
  outline: none;
}
.contact_form_btn {
  height: 48px;
  width: 100%;
  border: 1px solid #fe6a5b;
  border-radius: 8px;
  background: #fe6a5b;
  border-radius: 8px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.contact_form_btn:hover{
  box-shadow: 0px 0px 12px #fe6a5b;
}
.main_container {
  max-width: 900px !important;
}
.footer_logo_width {
  width: 115px;
}
.footer_line {
  width: 100%;
  height: 1px;
  opacity: 0.15;
  background-color: #fff;
}
.fw_500 {
  font-weight: 500;
}
.gap_178 {
  gap: 190px;
}
.font_400 {
  font-weight: 400;
  opacity: 0.5;
}
.back_to_top {
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.3em;
}
/* -------------------------------sectwo end------------------ */
/* ----------------------------page_team---------------------- */

.w_100 {
  width: 100%;
}
.mailad_font {
  font-weight: 400 !important;
  line-height: 100%;
  letter-spacing: -0.03em;
}
.Partner_para {
  opacity: 0.7;
  font-weight: 400;
  letter-spacing: -0.03em;
}
.team_section_para {
  font-weight: 500;
  letter-spacing: 0.01em;
  opacity: 0.7;
  line-height: 100%;
  text-align: justify;
}
/* ------------------ */
.Cheryl_font {
  font-weight: 700 !important;
  line-height: 100%;
  letter-spacing: -0.03em;
}
.Cheryl_para {
  opacity: 0.7;
  font-weight: 700;
  letter-spacing: -0.03em;
  line-height: 100%;
}
.back {
  width: 29px;
  height: 6px;
}
.team_page_logo {
  width: 65px;
}


@media (min-width: 576px) {
  .gap_178 {
    gap: 70px;
  }
  .scroll_down {
    width: 7%;
  }
  .logo_w_180 {
    width: 70% !important;
  }
  .mt_30 {
    margin-top: 17px;
  }
  .header_bg {
    max-width: 300px;
  }
  .min_h_100 {
    min-height: 890px;
  }
  .form_contact {
    max-width: 426px;
    width: 100%;
  }
  .contact_form_btn {
    width: 100%;
    max-width: 426px;
  }
  .w_100 {
    width: 80%;
  }
  .team_page_logo {
    width: 65px;
  }
}
@media (min-width: 768px) {
  .logo_w_180 {
    width: 110px !important;
  }
  .scroll_down {
    width: 5%;
  }
  .header_bg {
    max-width: 400px;
  }
  .characts_img {
    width: 100%;
    max-width: 550px;
  }

  .w_100 {
    width: 70%;
  }
  .adovcate_text {
    line-height: 100% ;
  }
  .team_page_logo {
    width: 75px;
  }
  .fs_16{
    font-size: 16px !important;
  }
  .back {
    width: 52px;
    height: 19px;
  }
}
@media (min-width: 992px) {
  .scroll_down {
    width: 10%;
  }
  .logo_w_180 {
    width: 100px !important;
  }
  .team_page_logo {
    width: 90px;
  }
  .mw_550 {
    max-width: 550px !important;
  }
  .adovcate_text {
    line-height: 78% ;
  }
}
@media (min-width: 1024px) {
  .logo_w_180 {
    width: 130px !important;
  }
}
@media (min-width: 1200px) {
  .gap_178 {
    gap: 280px;
  }
  .logo_w_180 {
    width: 180px !important;
  }
  .team_page_logo {
    width: 180px;
  }
  .footer_logo_width {
    width: 180px;
  }
}
@media (min-width: 1440px) {
  .characters_img {
    max-width: 620px;
    width: 100%;
  }
  .logo_w_180 {
    width: 180px !important;
  }
  .team_page_logo {
    width: 180px;
  }
}

@media (min-width: 1480px) {
  .min_h_100 {
    min-height: 100vh;
  }
  .headers_bg {
    width: 100%;
    max-width: 525px;
  }
  .characters_img {
    max-width: 700px;
    width: 100%;
  }
 


 
}
