@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

.fs_4xl {
  font-size: var(--fs_4xl);
}

.fs_3xl {
  font-size: var(--fs_3xl);
}

.fs_2xl {
  font-size: var(--fs_2xl);
}

.fs_xl {
  font-size: var(--fs_xl);
}

.fs_md {
  font-size: var(--fs_md);
}

.fs_lg {
  font-size: var(--fs_lg);
}

.fs_lght {
  font-size: var(--fs_lght);
}

.fs_sm {
  font-size: var(--fs_sm);
}

.fs_xsm {
  font-size: var(--fs_xsm);
}

.fs_xxsm {
  font-size: var(--fs_xxsm);
}

* {
  padding: 0;
  margin: 0;
  list-style: none !important;
  box-sizing: border-box !important;
  text-decoration: none !important;
}

.coustam_container {
  max-width: 1440px !important;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
}

.main_heading {
  color: red;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0 !important;
}

ol,
ul {
  padding-left: 0 !important;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0 !important;
}

p {
  margin-top: 0;
  margin-bottom: 0 !important;
}

.font_roboto {
  font-family: "Roboto";
}

@font-face {
  font-family: "Greycliff_CF";
  src: url("../fonts/Greycliff_CF/Greycliffcf-heavy.otf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Greycliff_CF";
  src: url("../fonts/Greycliff_CF/Greycliffcf-extrabold.otf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Greycliff_CF";
  src: url("../fonts/Greycliff_CF/Greycliffcf-Bold.otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Greycliff_CF";
  src: url("../fonts/Greycliff_CF/Greycliffcf-demibold.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Greycliff_CF";
  src: url("../fonts/Greycliff_CF/GreycliffCF-Medium.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Greycliff_CF";
  src: url("../fonts/Greycliff_CF/Greycliffcf-regular.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Greycliff_CF";
  src: url("../fonts/Greycliff_CF/Greycliffcf-light.otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Greycliff_CF";
  src: url("../fonts/Greycliff_CF/Greycliffcf-thin.otf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Greycliff_CF";
  src: url("../fonts/Greycliff_CF/Greycliffcf-extralight.otf");
  font-weight: 100;
  font-style: normal;
}
.fs_16{
  font-size: 14px !important;
}
/**********************Scroll**************************/
::-webkit-scrollbar {
  width: 6px;
}

/* ::-webkit-scrollbar:focus  */
::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #fe6a5b;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fe6a5b;
}

.min_h_100 {
  min-height: 100%;
}
.active{
opacity: 1 !important;}
.nav_links {
  font-weight: 700;
  line-height: 150% !important;
  color: #ffffff;
  opacity: 0.5;
}

.nav_links:hover {
  opacity: 1;
}
.nav_line{
  position: relative !important;
  transition: all 350ms linear !important;
}
.nav_lineh{
  position: relative;
}
.nav_lineh::after{
  content: "" !important;
  position: absolute !important;
  width:30px !important;
  height: 1px;
  background-color: #fe6a5b !important;
  left: -40px;
  top: 50%;
  transition: all 350ms linear !important;
}
.nav_line::after{
  content: "" !important;
  position: absolute !important;
  width: 0;
  height: 1px;
  background-color: #fe6a5b !important;
  left: -40px;
  top: 50%;
  transition: all 350ms linear !important;
}

.nav_line:hover::after {
  width: 30px !important;
}
.nav_links_padding {
  padding: 9px 0px;
}
.logo_w_180 {
  width: 48px !important;
}
.line {
  background-color: #fff;
  height: 2px;
  width: 20px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.w_100{
  width: 97.5% !important;
}

@media (max-width: 991px) {
  .mobile_view {
    position: fixed;
    background-color: rgb(220, 100, 80);
    backdrop-filter: blur(50px);
    height: 100vh;
    width: 100%;
    top: 0;
    left: -100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 300ms linear;
    z-index: 5;
}
.z_7{
  z-index: 7  ;
}

.overflow_hidden {
    overflow: hidden;
}
  .menu span:nth-child(1) {
    height: 3px;
    width: 24px;
    background-color: white;
    display: block;
}

.menu span:nth-child(2) {
    height: 3px;
    width: 24px;
    background-color: white;
    display: block;
}

.menu span:nth-child(3) {
    height: 3px;
    width: 24px;
    background-color: white;
    display: block;
}

.menu span {
    transition: 300ms linear;
}

.cross span:nth-child(1) {
    transform: rotate(47deg) translateY(10px);
    transition: 300ms linear;
}

.cross span:nth-child(2) {
  transform: translate(-34% , -137%) rotate(-47deg);
  opacity: 1;
  transition: 30ms linear;
}

.cross span:nth-child(3) {
  opacity: 0;
    transform: rotate(-48deg) translateY(-16px);
    transition: 300ms linear;
}
}
.real_estate {
  font-weight: 700;
  letter-spacing: 0.3em !important;
}

.adovcate_text {
  font-weight: 800;
  letter-spacing: -0.05em;
  line-height: 110%;
}

.text_orange {
  color: #fe6a5b !important;
}
.fs_16{
  font-size: 16px !important;
}

.mt_30 {
  margin-top: 1px;
}

.header_bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 240px;
}
.headers_bg {
  position: absolute;
  top: 0;
  right: 0;
}
.characts_img {
  width: 100%;
  max-width: 340px;
}

.characters_img {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 570px;
  width: 100%;
}


.scroll_down {
  width: 10%;
}
/* -------------------------------sectwo------------------ */
.advise {
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.05em;
}

.color_peach {
  color: #fe6a5b;
}
.Anything {
  font-weight: 700;
  line-height: 100%;
}
.para_clr {
  opacity: 0.7;
  font-weight: 400;
  line-height: 100%;
}
.fw_400 {
  font-weight: 400;
  line-height: 100%;
}
.chng_clr_hover {
  transition: all 350ms linear;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 155% !important;
  
}
.chng_clr_hover:hover {
  color: #e84a5f !important;
}
.fw_400 {
  font-weight: 400;
  line-height: 160%;
}
.margin_negative {
  margin-top: -6vh !important;
}
input{
  font-weight: 700 !important;
}
textarea{
  height: 98px;
  font-weight: 700 !important;
  resize: none !important;
}
.form_contact {
  display: block;
  width: 100% !important;
  padding: 10px !important;
  border: 1px solid #fff !important;
  border-radius: 8px !important;
  background-color: transparent !important;
  color: #fff !important;
  outline: none;
}
.contact_form_btn {
  margin-top: 24px;
  height: 48px;
  width: 100%;
  border: 1px solid #fe6a5b;
  border-radius: 8px;
  background: #fe6a5b;
  border-radius: 8px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  color: white !important;
  font-size: 16px;
}
.contact_form_btn:hover{
  box-shadow: 0px 0px 12px #fe6a5b;
}
.main_container {
  max-width: 900px !important;
}
.footer_logo_width {
  width: 115px;
}
.footer_line {
  width: 100%;
  height: 1px;
  opacity: 0.15;
  background-color: #fff;
}
.fw_500 {
  font-weight: 500;
  font-size: 16px !important;
}
.gap_178 {
  gap: 190px;
}
.font_400 {
  font-weight: 400 !important;
  opacity: 0.5 !important;
}
.back_to_top {
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.3em;
}
/* -------------------------------sectwo end------------------ */
/* ----------------------------page_team---------------------- */

.w_100 {
  width: 100%;
}
.font_16{
  font-size: 14px;
}
.mailad_font {
  font-weight: 400 !important;
  line-height: 100%;
  letter-spacing: -0.03em;
}
.Partner_para {
  opacity: 0.7;
  font-weight: 400;
  letter-spacing: -0.03em;
}
.team_section_para {
  font-weight: 500;
  letter-spacing: 0.01em;
  opacity: 0.7;
  line-height: 100%;
  text-align: justify;
}
/* ------------------ */
.Cheryl_font {
  font-weight: 700 !important;
  line-height: 100%;
  letter-spacing: -0.03em;
}
.Cheryl_para {
  opacity: 0.7;
  font-weight: 700;
  letter-spacing: -0.03em;
  line-height: 100%;
}
.back {
  width: 29px;
  height: 6px;
}
.team_page_logo {
  width: 65px;
}
.fs_16 {
  font-size: 11px !important;
}
.icon_scrool {
  width: 12.4%;
}
@media (min-width: 576px) {
  .adovcate_text {
    line-height: 110% ;
  }
  .gap_178 {
    gap: 50px;
  }
  .icon_scrool {
    width: 7.4%;
}
  .logo_w_180 {
    width: 70% !important;
  }
  .mt_30 {
    margin-top: 1px;
  }
  .header_bg {
    max-width: 300px;
  }
 
  .form_contact {
    max-width: 426px;
    width: 100%;
  }
  .contact_form_btn {
    width: 100%;
    max-width: 426px;
  }
  .w_100 {
    width: 80%;
  }
  .team_page_logo {
    width: 65px;
  }
  .characts_img {
    width: 100%;
    max-width: 340px;
}
.header_bg {
  max-width: 240px;
}
.fs_16 {
  font-size: 11px !important;
}
}
@media (min-width: 768px) {
  .gap_178 {
    gap: 50px;
  }
  .logo_w_180 {
    width: 81px !important;
  }
  .icon_scrool {
    width: 7.3%;
}
  .header_bg {
    max-width: 400px;
  }
  .characts_img {
    width: 100%;
    max-width: 550px;
  }
  .w_100 {
    width: 70%;
  }
  .adovcate_text {
    line-height: 100% ;
  }
  .team_page_logo {
    width: 75px;
  }
  .fs_16{
    font-size: 16px !important;
  }
  .back {
    width: 52px;
    height: 19px;
  }
  .fs_16 {
    font-size: 13px !important;
}
.characts_img {
  width: 100%;
  max-width: 450px;
}
.header_bg {
  position: absolute;
    top: -55px;
    max-width: 340px;
    height: 642px;
}
}
@media (min-width: 992px) {
  .border-grey-left {
    border: 1px solid #262626;
    border-top: none;
    border-bottom: none;
    border-right: none;
  }
 
  .scroll_down {
    width: 10%;
  }
  .logo_w_180 {
    width: 100px !important;
  }
  .team_page_logo {
    width: 90px;
  }
  .mw_550 {
    max-width: 550px !important;
  }
  .adovcate_text {
    line-height: 78% ;
  }
  .characters_img {
    max-width: 500px;
    width: 100%;
}
.headers_bg {
  width: 100%;
  max-width: 400px;
}
.min_h_100 {
  min-height: 644px;
}
.adovcate_text {
  line-height: 113%;
}
.icon_scrool {
  width: 13.3% !important;
}
.fs_16 {
  font-size: 12px !important;
}
.footer_img{
  max-width: 255px;
  height: 425px;
}
.gap_178 {
  gap: 105px;
}
}
@media (min-width: 1024px) {
  .Anything {
    max-width: 270px;
  }
  .logo_w_180 {
    width: 115px !important;
}
  .footer_img{
    max-width: 255px;
    height: 425px;
  }
  .characters_img {
    max-width: 630px;
    width: 100%;
  }
  .min_h_100 {
    min-height: 810px;
}
.adovcate_text {
  line-height: 98%;
}
.mt_30 {
  margin-top:3px;
}
.headers_bg {
  width: 100%;
  max-width: 470px;
}
.fs_16 {
  font-size: 11px !important;
}
.icon_scrool {
  width: 13.5%;
}
.gap_178 {
  gap: 140px;
}
}
@media (min-width: 1200px) {
  .font_16{
    font-size: 14px;
  }
  .footer_img {
    max-width: 309px;
    height: 458px;
}
  .gap_178 {
    gap: 195px;
  }
  .logo_w_180 {
    width: 180px !important;
  }
  .team_page_logo {
    width: 180px;
  }
  .footer_logo_width {
    width: 180px;
  }
  .fs_16 {
    font-size: 16px !important;
}
.adovcate_text {
  line-height: 78%;
}
.mt_30 {
  margin-top: 21px;
}
.min_h_100 {
  min-height: 875px;
}
.headers_bg {
  width: 100%;
  max-width: 550px;
}
.icon_scrool {
  width: 9.5% !important;
}
}
@media (min-width: 1440px) {
  .characters_img {
    max-width: 630px;
    width: 100%;
  }
  .logo_w_180 {
    width: 180px !important;
  }
  .team_page_logo {
    width: 180px;
  }
}
@media (min-width: 1480px) {
  .min_h_100 {
    min-height: 100vh;
  }
}
@media (min-width:1530px) {
  .characters_img {
    max-width: 629px !important;
    width: 100% !important;
}
.headers_bg {
  width: 100%;
  max-width: 548px;
}
}
@media (min-width:1600px) {
  .characters_img {
    max-width: 730px !important;
    width: 100% !important;
}
.headers_bg {
  width: 100%;
  max-width: 548px;
}
}
@media (min-width:1930px) {
  .min_h_100{
    min-height: 890px;
  }
  .max_width{
    max-width: 1920px;
  }
}